* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f098;
    font-style: italic, sans-serif;
    color: black;
}

.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    margin: 20px auto;
    padding: 100px;
}


.icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.icon-container .icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}
