* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #f0f0f098;
    font-style: italic, sans-serif;
    color: black;
}

.card {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 50%;
    margin: 20px auto;
    padding: 100px;
}


.icon-container {
    display: flex;
    justify-content: center;
    background-color: bisque;
    width: 50%;
    margin: 0 auto;
}

 .icon {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

h1 {
  text-align: center; 
  background-color: #ffcccc; 
}
